extends layout

block content
  h1 Mini Message Board
  ul
    hr
    each message in messages
      li 
        span.user= message.user
        span.date  (#{message.added})
        p.message= message.text
        hr
  a(href="/new") New Message