body {
  padding: 5%;
  font: 16px Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

label {
  margin: 4px;
}

input {
  margin: 4px;
  font: 16px Arial, sans-serif;
}

ul {
  list-style: none;
}

.date {
  font-size: 14px;
}

.message {
  font-size: 20px;
}

.user {
  font-weight: bold;
}
